.score{
    font-size: .3rem;
}
#header{
    height: .5rem;
    line-height: .5rem;
    font-size: .2rem;
}
a{
    color:#999;
}
li{
    list-style: none;
}
i,em{
    font-style: normal;
}

/* ------------------------- */
.banner{
    color:#fff;
    height: 92px;
    background: linear-gradient(70deg, #ff7200 30%,#ff7815  30%,#ff8b47);
    background: -webkit-linear-gradient(70deg, #ff7200 30%,#ff7815  30%,#ff8b47);
    background: -moz-linear-gradient(70deg, #ff7200 30%,#ff7815  30%,#ff8b47);
    background: -o-linear-gradient(70deg, #ff7200 30%,#ff7815  30%,#ff8b47);
    margin-bottom: 11px;

}
.banner h2{
    font-size: .32rem;
    line-height: .4rem;
    padding-top: .14rem;
    margin-bottom: .05rem;
    font-weight: normal;
}
.banner p{
    font-size: .12rem;
    line-height: .12rem;
} 
/* ------------------------- */
.tabs{
    font-size: 0;
    height: .36rem;
    line-height: .36rem;
    text-align: center;
    
}
.tabs >ul{
    /*background: #abcdef;*/
}
.tabs .tabs-item{
    display: inline-block;
    width: 33%;
    font-size: .16rem;
    color:#999;
}
.tabs .tabs-item.active{
    color:#000;
}

/* ------------------------- */
ul li:not(:first-child) .parts{
    margin-top: .11rem;
}
.parts h3{
    text-align:left;
    font-weight: normal;
    height: .30rem;
    line-height: .30rem;
    padding: 0 .20rem;
    font-size: .12rem;
    color: #9b9b9b;
    background: #f9f9f9;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.parts .list{
    
}
.parts .list li,
.parts .list2 li{
    /*height: .92rem;*/
    padding: .20rem 0 .16rem .20rem;
    position: relative;
    overflow: hidden;
}
.parts .list li:not(:last-child):after,
.parts .list2 li:not(:last-child):after{
    content:' ';
    width: 100%;
    position: absolute;
    height: 1px;
    transform:rotate(60deg);
    -webkit-transform:rotateX(60deg);
    background: #f2f2f2;
    left: .2rem;
    bottom: 0;
}
.parts .list li a,
.parts .list2 li a{
    display: block;
    font-size: 0;
}
.parts .list li a > div,
.parts .list2 li a > div{
    display: inline-block;
    vertical-align: top;
}
.parts .list li a .parts-1,
.parts .list2 li a .parts-1{
    width: calc(100% - .95rem);
}
.parts .list li a .parts-2,
.parts .list2 li a .parts-2{
    width: .95rem;
    height: 100%;
}
.parts .list li a > div h4,
.parts .list2 li a > div h4{
    font-size: .16rem;
    font-weight: normal;
    padding-left: .07rem;
    text-align: left;
    line-height: .22rem;
    margin-bottom: .12rem;
    color: #505050;

}
.parts .list2 li a > div h4{
    margin-bottom: 0;
}
.sticker{
    display: inline-block;
    width: .24rem;
    height: .24rem;
    border-radius: 50%;
    text-align: center;
    line-height: .24rem;
    color:#fff; 
    font-size: .14rem;
    margin-right: .08rem;
}
.parts .list li a > div p{
    font-size: .14rem;
    color: #a3a3a3;
    line-height: .20rem;
    text-align: left;
}
.parts .list li a > div p span{
    margin-left: .12rem;
  /*  display: inline-block;
    width: 50%;*/
}
.parts .list li .parts-2,
.parts .list2 li .parts-2{
    font-size:.24rem;
    color:#31affd;
}
.parts .list li .parts-2 span,
.parts .list2 li .parts-2 span{
    font-size:.18rem;
    vertical-align: top
}
/* ------------------------- */
.parts .list2 li{
    height: .70rem;
    line-height: .70rem;
    padding:0 0 0 .20rem;
}
.parts .list2 li >a{
    
}
.parts .list2 li a > div h4{
    line-height: .70rem;
    color:#333;
}
.parts .list2 li a > div h4 img{
    width: .16rem;
    vertical-align: middle;
    margin-right: .10rem;
}
.swiper-scrollbar-drag{
    height: .04rem;
}
.swiper-scrollbar{
    border-radius:0;
}
.swiper-container{
    font-size: .16rem;
    margin-top: -.04rem;
    height: calc(100vh - 1.89rem);
}
.swiper-scrollbar{
    top:0;
    height: .04rem;
}
.swiper-slide ul{
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
/*.swiper-slide ul::-webkit-scrollbar {
    display: none;
}*/
.scrollbar-container{
    background: #abcdef;
    height: .10rem;
}
.scrollbar-drag{
    width: .65rem;
    height: 100%;
    background: #123456;
}
