* {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  list-style: none;
  -webkit-text-size-adjust: 100% !important;
}
html{
    /*font-size: 100px;*/
    font-size: calc(100vw / 3.75);
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.project-view{
  
}
.sub-components-view{
    position: absolute;
    width: 100%;
    top:0;
    bottom:0;
    background: #fff;
    overflow: hidden;
    z-index: 1;
}
/* */
.content{
    height:calc(100vh - 50px);
}
/*  */
.slide-fade-enter-active,.slide-fade-leave-active{
    transition: all .3s ease;
}
.slide-fade-enter,.slide-fade-leave-to{
    transform: translateX(100%);
}
/* */
.slide-fade-y-enter,.slide-fade-y-leave-to{
    transform: translateY(100%);
    /*opacity: 0;*/
}
.slide-fade-y-enter-active,.slide-fade-y-leave-active{
    transition: all .3s ease;
    
}
.nothing{
  padding:27px 0 37px 0;
  color: #c5c5c5;
  font-size: 12px;
}
/**/
.popup-container{
  position: absolute;
  width: 100%;
  top:0;
  bottom:0;
  z-index: 998;
}
.popup-container .popup-mask{
  position: absolute;
  width: 100%;
  top:0;
  bottom:0;
  z-index: 998;
  background: rgba(0,0,0,.6);
  opacity: 0;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.popup-container ul{
  width: 100%;
  position: absolute;
  left:0;
  bottom:0;
  z-index: 999;
  background:#f9f9f9;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}

.popup-container ul li{
  height: 56px;
  line-height: 56px;
  text-align:center;
  font-size: 16px;
  color: #4a4a4a;
  background: #fff;
  border-bottom:1px solid #f9f9f9;
  
}
.popup-container ul li:last-child{
  margin-top: 5px;
}
.popup-container.show .popup-mask{
  opacity: 1;
}
.popup-container.show ul{
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
}
/**/
.demo-spin-icon-load{
  animation: ani-demo-spin 1s linear infinite;
}
/* vux popupPicker style*/
body .vux-popup-header-left,
body .vux-popup-header-right{
    color:#ff5970;
}
.popup-picker-box /deep/ .weui-cells:before,
.popup-picker-box /deep/ .weui-cells:after{
    display: none;
}
.popup-picker-box /deep/ .weui-label,
.popup-picker-box /deep/ .vux-popup-picker-value,
.popup-picker-box /deep/ .vux-popup-picker-placeholder{
    font-size: 14px;
    color:#9b9b9b;
}
.popup-picker-box /deep/ .weui-cell_access .weui-cell__ft:after{
    height: 12px;
    width: 12px;
    border-width: 0 1px 1px 0;
    margin-top: -10px;
    right: 10px;
}
/* swiper tabs */
.tabs .tabs-item{
    font-size: 0;
    height: .36rem;
    line-height: .36rem;
    text-align: center;
}
.tabs >ul{
    height: .36rem;
}
.tabs .tabs-item{
    display: inline-block;
    width: 33%;
    font-size: .16rem;
    color:#999;
}
.tabs .tabs-item.active{
    color:#000;
}
.swiper-scrollbar{
    top:0;
    height: .04rem;
}
/*.swiper-wrapper{
    overflow-y: auto;
    overflow-scrolling:touch;
}
.swiper-slide{
    overflow-y: auto;
    overflow-scrolling:touch;
}*/
.swiper-container{
    height: calc(100vh - .88rem)
}
.scrollbar-container{
    background: #abcdef;
    height: .10rem;
}
.swiper-scrollbar-drag{
    height: .04rem;
}
.swiper-scrollbar{
    border-radius:0;
}
.scrollbar-drag{
    width: .65rem;
    height: 100%;
    background: #123456;
}
/*
  search
 */
.content .search-Box{
    padding: 0 .13rem;
}
.content .search-Box a{
    border-radius:5rem;
    border:0;
    color: #bababa;
    font-size: .14rem;
    display: block;
    width: 100%;
    height: .35rem;
    line-height: .35rem;
    padding:0 .20rem;
    outline: none;
    text-align: left;
    background: url(../../assets/volunteer/search.png) no-repeat right .15rem center #f8f8f8;
    background-size: .20rem;
}
.content .search-Box{
    text-align:left;
}
.content .search-Box input{
    display: inline-block;
    width: calc(100% - .6rem);
    height: .3rem;
    border:none;
    border-radius:5rem;
    padding-left: .40rem;
    background: url(../../assets/volunteer/search.png) no-repeat left .15rem center #f8f8f8;
    background-size: .20rem;
    outline: none;
    font-size: .16rem;
    user-select: auto;
}
.content .search-Box button{
    padding:0 .1rem;
    line-height: .3rem;
    border:none;
    background: none;
    float:right;  
    font-size: .16rem;
}
/*@media screen and (max-width: 320px){
    html{
        font-size: calc(100vw / 3.2);
    }
}
@media screen and (min-width: 321px) and (max-width: 360px){
    html{
        font-size: calc(100vw / 3.6);
    }
}
@media screen and (min-width: 361px) and (max-width: 375px){
    html{
        font-size: calc(100vw / 3.75);
    }
}
@media screen and (min-width: 376px) and (max-width: 414px){
    html{
        font-size: calc(100vw / 4.14);
    }
}*/