.help-center ul{
    padding-left: .22rem;
}
.help-center ul li{
    height: .54rem;
    line-height: .54rem;
    font-size: .16rem;
    position: relative;
    padding-left: .3rem;
}
.help-center ul li.li-icon-q{
    background: url(../../../assets/icon/icon-q.png) no-repeat left center;
    background-size: .2rem;  
}
.help-center ul li.li-icon-w{
    background: url(../../../assets/icon/icon-w.png) no-repeat left center;
    background-size: .2rem;
}
.help-center ul li:after{
    content:'';
    position: absolute;
    height: 1px;
    width: 100%;
    left:0;
    bottom:0;
    background: #dbdbdb;
    transform: rotateX(60deg);
}
.help-center ul li a{
    display: block;
    text-align: left;
    color:#333;
    padding-right:.15rem;
}
.help-center ul li a img{
    width: .2rem;
    transform: rotateZ(180deg);
    float:right;
    margin-top: .17rem;
}
/*
    problem
 */
.help-center-problem .content .search-Box,
.help-center-illustrate .content .search-Box {
    height: .34rem;
    line-height: .34rem;
}
.help-center-problem .content .search-Box input,
.help-center-illustrate .content .search-Box input{
    height: .34rem;
    line-height: .34rem;
    width: 100%;
    background: #f8f8f8;
    padding-left: .15rem;
}
.content .search-Box button{
    position: absolute;
    top:.07rem;
    right: .25rem;
    font-size: 0;
    width: .2rem;
    height: .2rem;
    background: url(../../../assets/icon/search.png) no-repeat;
    -webkit-background-size: .2rem;
    background-size: .2rem;
    outline: none;
    transition: all .2s ease;
    border-radius: 5px;
}
.content .search-Box button:active{
    background: url(../../../assets/icon/search.png) no-repeat #dbdbdb;
    -webkit-background-size: .2rem;
    background-size: .2rem;
}
.help-center-problem .content ul,
.help-center-illustrate .content ul{
    height: calc(100% - .34rem);
   /* overflow-y:scroll;
    overflow-scrolling:touch;*/
}
.help-center-problem .content ul li,
.help-center-illustrate .content ul li{
    height: auto;
    text-align: left;
    padding: 0;
}
.help-center-problem .content ul li:last-child:after,
.help-center-illustrate .content ul li:last-child:after{
    display: none;
}
.help-center-problem .content ul li h2,
.help-center-illustrate .content ul li h2{
    font-size: .16rem;
    line-height: .2rem;
    color: #333;
    font-weight: normal;
    padding-top: .25rem;
    padding-left:.3rem;
    padding-right: .25rem;
    background: url(../../../assets/icon/icon-q.png) no-repeat left top .25rem;
    -webkit-background-size: .2rem; 
    background-size: .2rem; 
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.help-center-problem .content ul li p,
.help-center-illustrate .content ul li p{
    font-size: .14rem;
    line-height: .2rem;
    margin-top: .2rem;
    padding-bottom: .3rem;
    color:#9b9b9b;
    padding-left:.3rem; 
    padding-right: .25rem;
    background: url(../../../assets/icon/icon-a.png) no-repeat left top;
    -webkit-background-size: .2rem; 
    background-size: .2rem; 
}
.help-center-illustrate .content ul li h2,
.help-center-illustrate .content ul li p{
    padding-left: 0;
    background: none;
}
.help-center-illustrate #wrapper,
.help-center-problem #wrapper{
    top:.35rem;
}   