.volunteer #wrapper{
    top:1.8rem;
}
.volunteer-list #wrapper{
    top:0rem;
}
.volunteer .banner{
    background: url(../../../assets/volunteer/volunteer-bg.png) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 1.27rem;
    margin-bottom: .13rem;
    position: relative;
}
.volunteer .banner h2{
    font-size: .36rem;
    line-height: .36rem;
    padding-top: .30rem;
    color:#fff;
    font-weight: normal;
}
.volunteer .banner p{
    display: inline-block;
    padding:.033rem .20rem;
    background: rgba(0,0,0,.13);
    color:#fff;
    font-size: .14rem;
    border-radius:5rem;
    margin-top: .05rem;
}
.volunteer .history{
    position: absolute;
    right: .1rem;
    bottom: .1rem;
    color:#fff;
    font-size: .14rem;
    height: .2rem;
    line-height: .2rem;
}
.volunteer .history span{
    display: inline-block;
    vertical-align: middle;
}
.volunteer .history img{
    display: inline-block;
    width: .16rem;
    vertical-align: middle;
}
/**/
.volunteer .content{
    position: absolute;
    top:0;
    bottom:0;
    width: 100%;
    height: auto;
}
.volunteer .list li{
    position: relative;
    /*height: 1.3rem;*/
    overflow:hidden;
    font-size: 0;
    padding: .22rem 0 .22rem .25rem;
    text-align: left;

}
.volunteer .list li div{
    display: inline-block;
    vertical-align: top;
}
.volunteer .list li:after{
    position: absolute;
    content:' '; 
    height: 1px;
    width: 100%;
    bottom:0;
    left:.15rem;
    background: #f2f2f2;
    transform: rotateX(60deg);
    -webkit-transform: rotateX(60deg);
}
.volunteer .list li .list-img{
    width: 1.06rem;
    height: .9rem;
    /*overflow:hidden;*/
    position: relative;

    /*background: #9b9b9b;*/
}
.volunteer .list li .list-img img:first-child{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.volunteer .badge{
    width: .5rem;
    position: absolute;
    right: -3px;
    bottom: .1rem

}
.volunteer .list li .list-info{
    width: calc(100% - 1.06rem - .22rem);
    margin-left: .15rem;
}
.volunteer .list li .list-info h3{
    font-size: .16rem;
    color: #000;
    margin-bottom: .05rem;
    line-height: .22rem;
    font-weight: normal;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.volunteer .list li .list-info p{
    font-size: .14rem;
    color:#9b9b9b;
    line-height: .22rem;
}
.volunteer .list li .list-info p span{
    /*display: inline-block;*/
   /* width: 50%;
    vertical-align: top;*/
}
.volunteer-view{
    position: absolute;
    width: 100%;
    top:0;
    bottom: 0;

}

/**/
.volunteer-detail{
}
.volunteer-detail .content{
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
}
.volunteer-detail .banner{
    height: 1.44rem;
    overflow: hidden;
    margin-bottom: 0;
    position: relative;
}
.volunteer-detail .banner img{
    width: 100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.volunteer-title{
    padding: .16rem .22rem .30rem ;
    text-align: left;
    position: relative;
    margin-bottom: .29rem;
}
.volunteer-title:after{
    width: calc(100% - .44rem);
    content:'';
    position: absolute;
    height: 1px;
    background: #dbdbdb;
    transform: rotateX(60deg);
    bottom:0;
    left:.22rem;
}
.volunteer-title button.going{
    font-size: .14rem;
    border:1px solid #5dd85d;
    color: #5dd85d;
    background: #f9fff5;
    padding: .02px .1rem;
    border-radius: .04rem;
    margin-top: .05rem;
}
.volunteer-title button.before{
    font-size: .14rem;
    border:1px solid #f5a623;
    color: #f5a623;
    background: #f9fff5;
    padding: .02px .1rem;
    border-radius: .04rem;
    margin-top: .05rem;
}
.volunteer-title button.end{
    font-size: .14rem;
    border:1px solid #bababa;
    color: #bababa;
    background: #f9f9f9;
    padding: .02px .1rem;
    border-radius: .04rem;
    margin-top: .05rem;
}
.volunteer-title h1{
    font-size: .24rem;
    line-height: .37rem;
    font-weight: normal;
}
.volunteer-title p{
    color:#f5a623;
    font-size: .14rem;
    margin-top:.03rem;
}
.volunteer-title img{
    position: absolute;
    width: 1.18rem;
    right:.04rem;
    bottom:.26rem;
    z-index: -1;
}
.volunteer-content{
    text-align: left;
    margin-bottom: .34rem;
}
.volunteer-content h2{
    font-size: .16rem;
    line-height: .16rem;
    position: relative;
    padding-left: .22rem;
    font-weight: normal;
    margin-bottom: .11rem;
    color:#000;
}
.volunteer-content >div{
    padding: 0 .28rem;
    font-size: 0;
    color:#4a4a4a;
}
.volunteer-content >div label{
    width: .70rem;
    font-size: .14rem;
    vertical-align: top;
}
.volunteer-content >div p{
    line-height: .20rem;
    font-size: .14rem;
    display: inline-block;
    width: calc(100% - 1rem);
    vertical-align: top;
    color:#4a4a4a;
}
/*.volunteer-content:before{
    width: .07rem;
    height: .15rem;
    content:' '; 
    position: absolute;
    left:0;
    background: linear-gradient(top,#fcac5d,#ff8940);
}*/ 
.volunteer-content .detail{
    padding:0 .28rem;
    font-size: .14rem;
    -ms-text-justify: auto;
    text-align:justify;
    /*color:#96050b;*/
}
.floot-btn{
    position: fixed;
    width: 100%;
    height: .55rem;
    line-height: .55rem;
    color: #fff;
    background: #96050b;
    text-align: center;
    bottom:0;
    border:0;
    left:0;
    font-size: .18rem;
    outline: none;
    transition: all .2s ease;
    border-top:1px solid #96050b;
}
.floot-btn:active{
    background: #fff;
    color: #96050b;
}
/**/

.volunteer-search h2{
    margin-top: .30rem;
    text-align: left;
    padding-left: .18rem;
    font-size: .18rem;
    font-weight: normal;
}
/*.volunteer-search ul{
    text-align:left;
    padding-left:.18rem;
}
.volunteer-search ul li{
    display: inline-block;
    padding:.05rem .10rem;
    font-size: .14rem;
    color: #4a4a4a;
    border-radius:.04rem;
    border:1px solid #dfdfdf;
    margin:.1rem .1rem 0 0 ;
}
.volunteer-search ul li.active{
    border:1px solid #ff8940;
    color:#ff8940;
}*/

/**/
.volunteer-form .group{

}
.volunteer-form .group li{
    height: .5rem;
    line-height: .5rem;
    position: relative;
    overflow:hidden;
    font-size: 0;
    color:#9b9b9b;
    background: #fff;

}
.volunteer-form .edit{
    font-size: .16rem;
    color:#9b9b9b;
    position: relative;
    padding-top: .1rem;
    background: #f3f3f3;
}

.volunteer-form .edit:after{
    content:' ';
    position: absolute;
    height: 1px;
    background: #dbdbdb;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: rotateX(60deg);
}
.volunteer-form .edit /deep/ .vux-x-switch{
    height: .5rem;
    background: #fff;
    font-size: 0;
    padding:0;
}
.volunteer-form .edit /deep/ .weui-cell__bd{
    display: inline-block;
    width: 1rem;
    line-height: .5rem;
    vertical-align: top;
}
.volunteer-form .edit /deep/ .weui-cell__ft{
    height: .5rem;
}
.volunteer-form .edit /deep/ .weui-switch{
    margin-top: .09rem
}
.volunteer-form .group li label,
.volunteer-form .edit /deep/ .weui-cell__bd{
    display: inline-block;
    font-size: .16rem;
    width: 1rem;
    text-align: left;
    padding-left: .3rem;
}

.volunteer-form .group li span,.volunteer-form .group li input,.volunteer-form .edit /deep/ .weui-cell__ft{
    display: inline-block;
    font-size: .16rem;
    width: calc(100% - 1rem);
    color:#4a4a4a;
    text-align: right;
    padding-right: .2rem;
    outline: none
}
.volunteer-form .group li:after{
    content:' ';
    position: absolute;
    height: 1px;
    background: #dbdbdb;
    width: 100%;
    left: .25rem;
    bottom: 0;
    transform: rotateX(60deg);
}
