.score{
    font-size: .3rem;
}
#header{
    height: .5rem;
    line-height: .5rem;
    font-size: .2rem;
}
a{
    color:#999;
}
li{
    list-style: none;
}
i,em{
    font-style: normal;
}

/* ------------------------- */
.banner{
    color:#fff;
    height: 1rem;
    margin-bottom: .11rem;
    background: url(../../../assets/salary/banner.png) no-repeat;
    background-size: contain; 
    font-size: 0;
    padding: 0 .2rem;
}
.banner div{
    display: inline-block;
    width: 50%;
    line-height: 1rem;
    font-size: .14rem;
    text-align: left;
}
.banner div:last-child{
    text-align: right;
    font-size: .22rem;
    font-weight: bold;
}

/* ------------------------- */

.tabs .tabs-item{
    width: 45%;
}
.swiper-container{
    font-size: .16rem;
    margin-top: -.04rem;
    height: calc(100vh - .91rem);
}
.swiper-wrapper .swiper-slide ul{
    height: calc(100% - .55rem);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #fff;
}

/* ------------------------- */
ul li:not(:first-child) .parts{
    margin-top: .11rem;
}
h3{
    text-align:left;
    font-weight: normal;
    height: .30rem;
    line-height: .30rem;
    padding: 0 .20rem;
    font-size: .12rem;
    color: #9b9b9b;
    background: #f9f9f9;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
}
.list{
    
}
.monthDetailed li{
    padding: .20rem 0 .2rem .20rem;
    position: relative;
    overflow: hidden;
}
.monthDetailed li:not(:last-child):after{
    content:' ';
    width: 100%;
    position: absolute;
    height: 1px;
    transform:rotate(60deg);
    -webkit-transform:rotateX(60deg);
    background: #f2f2f2;
    left: .2rem;
    bottom: 0;
}
.monthDetailed li a{
    display: block;
    font-size: 0;
}
.monthDetailed li a > div{
    display: inline-block;
    vertical-align: top;
}
.monthDetailed li a .month{
    width: .8rem;
    font-size: .16rem;
    font-weight: bold;
    color:#4a4a4a;
    text-align: left
}
.monthDetailed li a .detailed{
    width: calc(100% - .8rem);
    font-size: 0;
}
.detailed >div{
    display: inline-block;
    font-size: .14rem;
    line-height: .14rem;
    color:#4a4a4a;
    width: 50%;
    text-align: left;
    
}
.detailed > div:not(:last-child){
    margin-bottom: .23rem;
}
.detailed > div:nth-last-child(2){
    margin-bottom:0;
}

.monthDetailed li a > div h4{
    font-size: .16rem;
    font-weight: normal;
    padding-left: .07rem;
    text-align: left;
    line-height: .22rem;
    margin-bottom: .12rem;
    color: #505050;

}
.sticker{
    display: inline-block;
    width: .24rem;
    height: .24rem;
    border-radius: 50%;
    text-align: center;
    line-height: .24rem;
    color:#fff; 
    font-size: .14rem;
    margin-right: .08rem;
}
.monthDetailed li a > div p{
    font-size: .14rem;
    line-height: .14rem;
    text-align: left;
    color:#31affd;
    padding-top: .1rem;
}
.monthDetailed li a > div p span{
    margin-left: .12rem;
}
.monthDetailed li .detailed{
    font-size:.24rem;
}
.monthDetailed li .detailed span{
    font-size:.18rem;
    vertical-align: top
}
/**/
.swiper-wrapper .swiper-slide{
    background: #f9f9f9;
}
.swiper-wrapper .swiper-slide ul.yearDetailed {
    height: calc(100% - .65rem);
    margin-top: .1rem;
    
}
.yearDetailed li{
    padding-top: .23rem;
    padding-left: .1rem;
    padding-right: .2rem;
    position: relative;

}
.yearDetailed li:after{
    position: absolute;
    content: '';
    bottom: 0;
    width: 100%;
    left: .2rem;
    height: 1px;
    background: #dbdbdb;
    transform: rotateX(60deg);

}
.yearDetailed a{
    display: block;
}
.yearDetailed a .year,
.yearDetailed li > div .year {
    text-align: left;
    font-size: .16rem;
    color:#000;
    line-height: .2rem;
    padding-left: .3rem;
    padding-bottom: .23rem;
    background: url(../../../assets/salary/icon-1.png) no-repeat top left;
    -webkit-background-size: .2rem;
    background-size: .2rem;
}
.yearDetailed a .year span,
.yearDetailed li > div .year span{
    float: right;
    font-size: .14rem;
    color:#9b9b9b;
}
.yearDetailed a .detailed,
.yearDetailed li > div .detailed{
    font-size: 0;
    padding-left: .3rem;
}
.yearDetailed a .detailed>div,
.yearDetailed li > div .detailed>div{
    width: 33%;
    font-size: .14rem;

}
.yearDetailed a .detailed>div p,
.yearDetailed li > div .detailed>div p{
    padding-top: .04rem;
    line-height: .2rem;
    color:#31affd;
}
/**/
.salary-select-btn{
    line-height: .55rem;
    font-size: .16rem;
    width: 100%;
    position: absolute;
    left:0;
    background: #fff;
    bottom: 0;
    outline: none;
    border:0;
}
.salary-select-btn:before{
    content:'';
    position: absolute;
    width: 100%;
    top:-6px;
    left:0;
    height: 6px;
    background: linear-gradient(top,#fff,#bdbdbd);
}
/*

 */

.detail-content{
    position: absolute;
    top:1rem;
    bottom: 0;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    text-align: left;
    padding:.24rem .22rem .7rem .15rem;

}
.detail-content h2{
    font-size: .14rem;
    line-height: .2rem;
    color:#4a4a4a;
    padding-left: .25rem;

    margin-bottom: .14rem
}

.detail-content .detail-part.icon-1 h2{
    background: url(../../../assets/salary/icon-1.png) no-repeat 0 0;
    background-size:.2rem;
}
.detail-content .detail-part.icon-2 h2{
    background: url(../../../assets/salary/icon-2.png) no-repeat 0 0;
    background-size:.2rem;
}
.detail-content .detail-part.icon-3 h2{
    background: url(../../../assets/salary/icon-3.png) no-repeat 0 0;
    background-size:.2rem;
}
.detail-content .detail-part.icon-4 h2{
    background: url(../../../assets/salary/icon-4.png) no-repeat 0 0;
    background-size:.2rem;
}
.detail-content .detail-part.icon-5 h2{
    background: url(../../../assets/salary/icon-5.png) no-repeat 0 0;
    background-size:.2rem;
}
.detail-content .detail-part.icon-6 h2{
    background: url(../../../assets/salary/icon-6.png) no-repeat 0 0;
    background-size:.2rem;
}
.detail-content .detail-part.icon-7 h2{
    background: url(../../../assets/salary/icon-7.png) no-repeat 0 0;
    background-size:.2rem;
}
.detail-content .detail-part.icon-8 h2{
    background: url(../../../assets/salary/icon-8.png) no-repeat 0 0;
    background-size:.2rem;
}
.detail-content .detail-part:not(:first-child){
    margin-top: .1rem
}
.detail-content h2~div{
    padding-left: .15rem;
    line-height: .4rem;
    position: relative;
    font-size: 0;
    color:#9b9b9b;
}
.detail-content h2~div *{
    display: inline-block;
    width: 50%;
    font-size: .14rem;
}
.detail-content h2~div >span{
    color:#4a4a4a;
    text-align: right
}
.detail-content h2~div:after{
    content: '';
    position: absolute;
    left:.15rem;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background: #dbdbdb;
    transform: rotateX(60deg);
}
.add{
    color:#e70a52!important;
}
.reduce{
    color:#17b08d!important;
}

.explain{
    text-align: right;
    font-size: .12rem;
    color:#4a4a4a;
    /*padding-left:.2rem;*/

}
.explain span{
    margin-left: .3rem;
}
.explain span:first-child{
    margin-left: .1rem;
}
.explain span:first-child:before{
    content: '';
    /*background: #96050b;*/
    background: #e70a52;
    display: inline-block;
    width: .1rem;
    height: .1rem;
    margin-right: .05rem;
}
.explain span:last-child:before{
    content: '';
    background: #17b08d;
    /*background: #417505;*/
    display: inline-block;
    width: .1rem;
    height: .1rem;
    margin-right: .05rem;
}













